/* General Styles */
body
{
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6,p,a {
	font-family: 'Montserrat', sans-serif;
}

/* buttons */
.btn-round {
	border-radius:130px;
	padding:12px 22px;
}

.btn-orange{
	background-color:#ff2600;
	color:#fff;
	transition:.3s;
}

.btn-orange:hover {
	background-color:#ff3d1b;
	color:#fff;
}

.arrow-r{
	margin-top:-4px;
}

/* Sections */
section {
	padding:40px 0;
}

/* Navbar */ 
.navbar-brand { position: relative; z-index: 2; padding: 25px 15px !important;}

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }

.navbar .navbar-collapse { position: relative; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }
.navbar
{
    margin:0 !important;
    height:70px !important;
}
.navbar-default
{
    background:none !important;
    border:none !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.navbar-right
{
    margin-top: 11px !important;
}
.active-nav
{
    color: #fd7a23 !important; 
}


/* For Section 1 */ 
.section-one
{
    background-color:#f8f9fa;
	padding-bottom:90px;
}
.book
{
    background-color:#fff;
    margin-top:40px;

}
.book h1
{
    line-height:50px;
    font-weight:bold;
    padding-top:70px;
}
.book h4
{
    text-align:center;
    font-style: italic;
    font-size:30px;
    padding-bottom:100px;
    margin-top:70px;
}
.left-side-text h1
{
    margin-top:50px;
    color:#ff2600;
    font-size:62px;
    font-weight:600;
	line-height:1em;
}

.left-side-text span
{
	display:block;
   font-size:14px;
}

.left-size
.left-side-text h2
{
    font-style: italic;
    font-size:30px;
    font-weight: lighter;
    letter-spacing: 6px;
    margin-bottom: 1.5em;

}
.left-side-text
{
    margin-left:60px;
}

.fa-arrow-right
{
    margin-top:5px;
    float:left;
    font-weight:normal;
    color: #fd7a23 !important; 
}
.left-side-text p
{
    line-height: 1.6;
    margin: 30px 0;
    color: #6c757d!important;
    font-size: 15px;

}

.sub-text
{
    margin-left:36px !important;
}

.left-side-text img
{

}

.aarow-with-text
{
    display:inline;
}

/* testimonial */
#quotes {
	background-color:#f8f9fa;
}
.testimonial h5
{
    text-align:center;
    font-size:30px;
    margin-top:40px;
    font-weight:bold;
}
.testimonial p
{
    text-align:center;
    color: #6c757d;
}
.testimonial-box
{
    margin-top:60px;
}
.img-round
{
    border-radius: 50%;
    border: 1px solid #dee2e6;
    padding: .25rem;
    background:#fff;
}
.testimonial-box h6
{
    font-size:17px;
    font-weight:bold;
    margin-bottom: 0;
}
.testimonial-box small {
    font-size: 15px;
}
.testimonial-box p {
    line-height: 1.8;
    padding:10px;
    color: #6c757d;
}

/* Section-3 */
.section-3
{
    background-color:#fff;
    padding-bottom:70px;
}
.section-3 h2
{
    text-align:center;
    padding-top:50px;
}

.section-margin
{
    margin-top:70px;
}
.section-margin h5

{
    font-size:20px;
    font-weight:bold;
}
.p-4 {
    padding-bottom:20px;
}

/* Section-4 */
.section-4 {
	padding-top:0;
	padding-bottom:20px;
}
.bg-subscriber {
    background-image: url(../img/bg-subscriber.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    padding-bottom: 100px;
    padding-top: 80px;
    position: relative;

}
.section-4 h5
{
    color:#fff;
    font-size: 26px;
    text-align:center;
}
.section-4 p
{
    color: #6c757d;
    font-size:15px;
    margin-bottom:50px;
}
.search-form form {
    position: relative;
    max-width: 600px;
    margin: 0px auto;
}
.search-form input {
    padding: 15px 20px;
    width: 100%;
    font-size: 16px;
    color: #4c5667 !important;
    border: none;
    outline: none !important;
    padding-right: 180px;
    padding-left: 30px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 30px

}
.search-form button {
    position: absolute;
    top: 0px;
    right: -2px;
    outline: none !important;
    font-size: 16px;
    padding: 14px 30px;
    background-color:  #ff2600;
    border-radius: 30px;
    color:#fff;

}
/* Section-Contact */
.section-contact {
	padding-top:0;
	padding-bottom:40px;
}
.section-contact h5
{
    text-align:center;
    font-size:26px;
    margin-top:60px;
    font-weight:bold;

}
.section-contact .contact-heading
{
    font-weight:bold;
    color:#0092ff;
}
.section-contact p
{
    margin-bottom:50px;
}
.contact-info p
{
    margin-bottom:40px;

}
.section-contact
{
    padding-bottom: 50px;
}

.form-control {
    height: 45px;
    font-size: 15px;
    box-shadow: none;
    outline: none;
}
.section-contact .form-control {
    font-size: 15px;
    box-shadow: none;
    outline: none;
}
.submitBtn
{
    padding: 12px 28px;
    box-shadow: none;
    outline: none;
}


/* footer */
.bg-footer {
    background: #242424;
    position: relative;
}
.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}
.list-inline-item {
    display: inline-block;
}
.footer-content .footerlink li a {
    color: #858585;
    margin: 0 8px;
    transition: all 0.5s;
    font-size: 15px;
}
.footer-content p
{
    color:#858585;
}