body.faq {
  p {
    margin-bottom: 20px;
  }
  .return-link {
    color: $brand-dark-blue;
  }
  .faq-summary {
    margin-bottom: 10px;
  }
  .faq-summary-item {
    margin-bottom: 20px;
  }
  .faq-content {
    padding-top: 70px;
    margin-bottom: 30px;
  }
}
