$small-screen: em(400);
$extra-large-screen: em(1280);

$sans-serif: "Lato", sans-serif;

a.button {
  @extend button;
}

a:disabled{
  color:red !important;
}
button.btn-yellow {
  background-color: #f9da5b !important;
  color: #000;
}

.content-wrapper {
  min-height: calc(100vh - 4.8em);
  padding-top:100px;
  padding-bottom:100px;

  
  //Long urls causing responsive problem
  word-wrap: break-word;
  @media screen and (max-width:1031px) {
    padding-top:40px;
  }
}

section {
  h3{ 
    text-transform: capitalize;
    font-size:17px !important;
  }
}


