// ========================================================
// front page
.home-template {
  @import "refills/flex-boxes";
  @import "refills/hero";
  .hero {
    height: 800px;
    background: linear-gradient(0deg, $brand-blue 90%, $brand-dark-blue 10%);
    // Copied
    align-items: center;
    background-repeat: no-repeat;
    display: block;
    justify-content: center;

    padding: 6em 1em;
    margin: auto;
    @include media($medium-screen) {
      padding: 15% 8em;

    }
    @include media($extra-large-screen) {
      background-size: cover;
      padding: 10% calc(5% + 0.75em);
      img {
        height: 100px;
      }
    }

    .book {
      display: block;
      padding: 130px 40px;
      margin: auto;
      width: 330px;
      @include media($medium-screen) {
        width: 380px;
      }
      @include media($extra-large-screen) {
        display: inline-block;
      }
      color: white;
      height: 520px;
      background-color: white;
      text-align: center;
      h1 {
        font-size: 2.2em;
        letter-spacing: 4px;
        line-height: 1.5em;
        color: $brand-dark-blue;
        margin-bottom: 1.5em;
      }
      h2 {
        font-size: 1.9em;
        font-style: italic;
        font-weight: lighter;
        color: $brand-blue;
      }
    }

    .main-content {
      display: block;
      margin: auto;
      text-align: center;
      @include media($extra-large-screen) {
        text-align: left;
        display: inline-block;
        position: absolute;
        right: 160px;
      }
      max-width: 600px;
      h1.book-title {
        display: none;
        @include media($extra-large-screen) {
          display: block;
        }
        color:white;
        font-size: 6em;
        font-weight: lighter;
        line-height: 1.5em;
        letter-spacing: 5px;
        margin-bottom: 0.5em;
      }
      h2.book-subtitle {
        display: none;
        @include media($extra-large-screen) {
          display: block;
        }
        color: white;
        font-style: italic;
        font-size: 2em;
        font-weight: lighter;
        letter-spacing: 6px;
        margin-bottom: 1.5em;
      }
      a.button {
        background-color: $brand-ocean-green;
        color: $brand-dark-blue;
        &:hover {
          background-color: $brand-orange;
          color: white;
        }
      }
    }
  }

  section.slides {
    padding: 50px 0 20px;
    @include media($large-screen) {
      padding: 60px 0 30px 0;
    }
    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .grey {
      background-color: #f6f6f6;
    }
    .white {
      background-color: #ffffff;
    }
  }

  .video {
    $large-screen: 50em !default;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
    @include media($large-screen) {
      margin-bottom: 3em;
    }
    .video-wrapper {
      embed,
      object,
      iframe {
        @include size(100% calc((100vw - 40px) * 0.562));
        @include media($large-screen) {
          @include position(0 null null null);
          @include size(680px 382px);
        }
      }
    }
    .video-text {
      text-align: center;
      h2 {
        font-size: 24px;
        letter-spacing: 1;
        margin-bottom: 20px;
        font-weight: 400;
        line-height: 1.2;
      }
      p.narrow {
        width: 70%;
      }
      p {
        font-size: 16px;
        font-weight: 300;
        color: $brand-blue;

        margin: auto;
        margin-bottom: 30px;
        line-height: 1.625;
      }
      @include media($large-screen) {
        padding: 0;
        @include position(null null null 2.5%);
        @include size(95% null);
      }
    }
  }

  @import "refills/grid";
  .grid-items {
    .grid-item {
      background-color: rgba(0,0,0,0);
      border: none;
      h4, p, i {
        color: $brand-blue !important;
        margin-top: 15px;
        margin-bottom: 20px;
      }
      h4 {
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 400;
      }
      p {
        max-width: 90%;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.625;
      }

      i {
        font-size: 2em;
      }
    }
  }

  section.quotes {
    background: linear-gradient(0deg, $brand-dark-blue 97%, $brand-light-blue 3%);
    height: 650px;
    padding: 15% 20%;
    .quote-wrapper {
      text-align: center;
      max-width: 650px;
      margin: auto;
      margin-bottom: 40px;
      font-style: italic;
      .quote-text {
        color: white;
      }
      .quote-author {
        margin-top: 10px;
      }
    }
  }
  section.author {
    background: linear-gradient(0deg, $brand-ocean-green 97%, $brand-orange 3%);
    height: 650px;
    padding: 10% 20%;
    .img-wrapper {
      text-align: center;
      align-items: center;
      width: 250px;
      height: 250px;
      margin: auto;
      .img-circular-square {
        border-radius: 50%;
        padding: 0 30px;
      }
    }
  }

  .side-image {
    $base-line-height: 1.5em !default;
    $action-color: #477DCA !default;
    $dark-gray: #333 !default;
    $large-screen: 53.75em !default;
    $base-font-color: $brand-blue !default;
    $side-image-background-top: #B5EBEB;
    $side-image-background-bottom: #5DAC5D;
    $side-image-content-background: #F9F9F9;
    $side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);

    background: white;
    div.images-wrapper.last {
      display: none;
    }

    @include media($large-screen) {
      @include row(table);
      height: 640px;
      div.images-wrapper.last {
        display: table-cell;
      }
    }

    .images-wrapper {
      background: url("../images/wise.jpg"),
                  linear-gradient($side-image-background-top, $side-image-background-bottom),
                  no-repeat $side-image-background-top scroll;
      background-color: $side-image-background-top;
      background-size: 100vw 100vw;
      min-height: 100vw;
      @include media($large-screen) {
        background-size: cover;
        padding: 3em;
        min-height: 12em;
      }
      display: block;

      @include media($large-screen) {
        @include span-columns(6);
        background-position: right;
        background-size: cover;
      }
    }

    .side-image-content {
      @include span-columns(12);
      padding: 1em 1em 4em 1em;

      @include media($large-screen) {
        @include span-columns(6);
        padding: 6% 7.5% 0 7.5%;
      }

      h2 {
        margin-bottom: 0 0 20px 0;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.5px;
        line-height: 1.2;
      }

      p {
        color: $brand-blue;
        font-size: 18px;
        margin: 0 0 30px 0;
        font-weight: 300;
        line-height: 1.625;
      }

      a {
        color: $brand-blue;
        text-decoration: none;
        border-bottom: 0;
      }

      a.button {
        padding: 16px 24px;
        color: #34313b;
        border: 1px solid #34313b;
        background-color: white;
        border-radius: 0;
        font-size: 14px;
        font-weight: 400;
        &:focus,
        &:hover {
          text-decoration: none;
          background-color: #34313b;
          color: white;
        }
      }
    }

    @include reset-display();
  }
}
