// ========================================================
// front page
.home-template {
  @import "refills/hero";
  $container: 95%;
  $dark-gray: #333 !default;

  .newhero {
    background-color: #f8f8f8;
    padding-top:100px;
    $large-screen: 50em !default;
    min-height: 92vh;
    background-position: none;
    background-size: none;
    position: relative;

    @media screen and (max-width:1031px){
      padding-top:0;
      
    }

    @include media($large-screen) {
      @include row(table);
      background-position: left;
      background-size: cover;
      justify-content: flex-end;
    }

    .hero-body {
      @include outer-container($container);
      padding: 2em 2em 6em 2em;
      @include media($large-screen) {
        min-height: 88vh;
        align-items: none;
        display: flex;
        justify-content: flex-start !important;

      }
	
		.button {
		    margin-top: -10px;
      margin-bottom: 15px;
      font-size:19px;

      u {
        text-decoration: none;
        @media screen and (max-width:768px){
          display:none;
        }
      }
    }
    
    
    span.rotate-90 {
      margin-left:5px;
      display:inline-block;
      -webkit-transform: rotate(90deg); 
      -moz-transform: rotate(90deg); 
    }

      .hero-content {
        width: 100%;
        display: block;
        @include media($large-screen) {
          @include span-columns(6);
          max-width: 30em;
          text-align: right;
        }
        @media screen and (max-width:860px){
          text-align: center !important;
        }
        a {
          margin: 1.35em 0.5em 0 0;
          border-radius: 0;
          color: white;
        }

        img {
          max-width:270px;
          justify-content: flex-end;
          padding-bottom:15px;

          @media screen and (max-width:480px){
            width:260px;
          }

          @media screen and (max-width:320px){
            width:200px;
          }
        }

        .ascovered-logos {
          span {
            padding-top:10px;
            font-size:20px;
          }
          img {
            width:60px ;
            margin-top:22px;
            margin-right:10px;
            @include media($large-screen) {
              float:right;
            }

          }
        }
      }

      .intro {
        @include span-columns(12);
        iframe {
          margin: 2em 0;
          @include size(80vw 44.96vw);
          @include media($large-screen) {
            margin: 0;
            @include size(533px 300px);
          }
        }
        @include media($large-screen) {
          @include span-columns(6);
          @include shift(0.8);
        }

        h1 {
          font-size: 30px;

          small {
            font-size: 24px;
            font-style: italic;
          }
        }

        a {
          margin-right:10px;
        }
      }

      @include reset-display();
    }

    .call-to-action {
      display: none;
      @include media($large-screen) {
        display: block;
        width: 50%;
        position: absolute;
        left: 25%;
        height: 12%;
        top: 82%;
        p {
          text-align: center;
          align-items: center;
          margin: 0;
        }
        .arrow-down {
          font-size: 2.6em;
          a {
            color: $dark-gray;
          }
        }
      }
    }
  }


  
  #next-section {
    min-height: 500px;
  }

  .video {
    $large-screen: 50em !default;
    overflow: hidden;
    position: relative;
    margin-bottom: 3em;
    .video-wrapper {
      embed,
      object,
      iframe {
        @include position(7vh null null 5vw);
        @include size(90vw 50.58vw);
        @include media($large-screen) {
          @include position(13vh null null calc(50vw - 420px));
          @include size(854px 480px);
        }
      }
    }
  }

  section.std {
    margin-bottom: 2em;
    text-align: left;
    padding: 0 5%;
    @include media($large-screen) {
      padding: 0;
      @include position(2em null null 25vw);
      @include size(50vw null);
    }
  }


  /* Get this book section */
  section.std-wide {
    margin-bottom: 2em;
    text-align: left;
    padding: 0 5%;
    @include media($large-screen) {
      padding: 0;
      @include position(2em null null 19vw);
      @include size(63vw null);
    }
	
  }
  .get-this-book{
    padding-top:70px !important;
    h3 {
      margin-bottom:50px;
    }
	label {
		font-weight:300;
		margin-bottom:0;
	}
	label:hover {
		cursor:pointer;
		text-decoration:underline;
	}
	
    @mixin grid-item-columns($columns) {
      width: (100% / 12) * $columns;
    }
    
    .grid-items-lines {
      $base-background-color: white !default;
      $dark-gray: #333 !default;
      $light-gray: #DDD !default;
      $medium-screen: 40em !default;
      $large-screen: 53.75em !default;
      $base-font-color: $dark-gray !default;
      $grid-items-background: $base-background-color;
      $grid-item-background: $base-background-color;
      $grid-item-border: 1px solid transparentize($base-font-color, 0.9);
      $grid-item-columns: 4;
      $grid-item-big-columns: 8;
      $grid-item-color: $base-font-color;
      $grid-item-height: 14em;
    
      @include clearfix;
      position: relative;
    
      .grid-item {
	 
        background: rgba(0,0,0,0.015);;
        border-bottom: $grid-item-border;
        border-right: $grid-item-border;
        float: left;
        height: 380px;
        outline: none;
        overflow: hidden;
        padding: 2em;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        width: 100%;
        
        @media screen and (min-width:860px) and (max-width:1240px){
          height:500px;
        }

        @media screen and (max-width:859px){
          height:auto;
        }
        @include media($large-screen) {
          @include grid-item-columns($grid-item-columns);
        }
    
        &:focus,
        &:hover {
          background: transparentize($grid-item-color, 0.95);
        }
      }
    
      .grid-item img {
          display: block;
          height: 2.5em;
          margin-bottom: 1.2em;
          opacity: 0.2;
        }
    
      .grid-item h2 {
          color: $grid-item-color;
          font-size: 1.1em;
          margin-bottom: 0.4em;
        }
    
      .grid-item p {
          color: transparentize($grid-item-color, 0.3);
          line-height: 1.5em;
          font-size:18px !important;
          @include media($medium-screen) {
            max-width: 70%;
          }
        }

      .grid-item ul li a {
          padding-right:10px;
      }

      

      .grid-item-big {
        @include media($large-screen) {
          @include grid-item-columns($grid-item-big-columns);
        }
        p {
          @include media($medium-screen) {
            max-width: 50%;
          }
        }
      }

      .grid-item-medium {
        @include media($large-screen) {
          @include grid-item-columns($grid-item-big-columns);
          max-width: 50%;
        }
        p {
          @include media($medium-screen) {
            max-width: 100%;
          }
        }
      }
    
      
    // this, below, might not be the most beautiful solution but it removes the outer borders by using the background color.
      .bottom-cover {
        background: $grid-items-background;
        bottom: 0;
        height: 3px;
        position: absolute;
        width: 100%;
      }
    
      .right-cover {
        background: $grid-items-background;
        height: 100%;
        position: absolute;
        right: 0;
        width: 4px;
      }
    }
  }

  /* Testimonials section */
  .testimonials {
    padding-top:70px !important;
    h3 {
      padding-bottom:50px;
    }
    .comment {
      $base-border-radius: 3px !default;
      $base-spacing: 1.5em !default;
      $action-color: #477DCA !default;
      $dark-gray: #333 !default;
      $base-font-color: $dark-gray !default;
      $comment-gutter: 1.4em;
      $comment-image-padding: 0;
      $comment-image-width: 6em;
      $comment-color: $base-font-color;
      $comment-background: lighten($action-color, 15%);
      $comment-detail-color: transparentize($comment-color, 0.5);
      $comment-image-vert-alignment: top;
    
      border-bottom: 1px solid transparentize($comment-color, 0.9);
      display: table;
      margin-bottom: $base-spacing;
      padding-bottom: 1em;
      width: 100%;
    
      .comment-image,
      .comment-content {
        display: table-cell;
        vertical-align: $comment-image-vert-alignment;
      }
    
      .comment-image {
        padding-right: $comment-gutter;
    
        > img {
          background: $comment-background;
          display: block;
          height: auto;
          max-width: none;
          padding: $comment-image-padding;
          width: $comment-image-width;

          @media screen and(max-width:480px){
            width: 50px;
          }
        }
    
        .comment-reverse-order & {
          padding-left: 10px;
          padding-right: 0;
        }
      }
    
      .comment-content {
        width: 100%;
    
        h1 {
          font-size: 1em;
          margin: 0 0 0.5em 0;
        }
    
        p {
          line-height: 1.5em;
          margin-bottom: 0.5em;
          font-size: 1em;
        }
    
        p.comment-detail {
          color: $comment-detail-color;
          font-size: 0.9em;
          font-style: italic;
        }
      }
    }
  }

  /* Contact */
  .contact {
    padding-top:85px !important;

    form {
      padding-top:25px;
    }
  }

  .subscribe {
    padding-top:80px !important;
    padding-bottom:80px !important;
    display:none;
  }

  /* TO CUT */

  .fellow {
    @include outer-container(90%);
    padding-top: 3em;
    @import "refills/logos.scss";
  }

  .side-image {
    $base-line-height: 1.5em !default;
    $action-color: #477DCA !default;
    $dark-gray: #333 !default;
    $large-screen: 53.75em !default;
    $base-font-color: $dark-gray !default;
    $side-image-background-top: #B5EBEB;
    $side-image-background-bottom: #5DAC5D;
    $side-image-content-background: #F9F9F9;
    $side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);

    background: white;
    div.images-wrapper.last {
      display: none;
    }

    @include media($large-screen) {
      @include row(table);
      div.images-wrapper.last {
        display: table-cell;
      }
    }

    .images-wrapper {
      background: url("../images/wise.jpg"),
                  linear-gradient($side-image-background-top, $side-image-background-bottom),
                  no-repeat $side-image-background-top scroll;
      background-color: $side-image-background-top;
      background-size: 100vw 100vw;
      min-height: 100vw;
      @include media($large-screen) {
        background-size: cover;
        padding: 3em;
        min-height: 12em;
      }
      display: block;

      @include media($large-screen) {
        @include span-columns(6);
        background-position: right;
        background-size: cover;
      }
    }

    .side-image-content {
      @include span-columns(12);
      padding: 1em 1em 4em 1em;

      @include media($large-screen) {
        @include span-columns(6);
        padding: 4em 5% 8em 5%;
      }

      h2 {
        margin-bottom: 0.9em;
        //font-size: 1.9em;
      }

      h4 {
        background: #BBB;
        color: white;
        display: inline-block;
        font-size: 0.75em;
        margin-bottom: 1.3em;
        padding: 3px 8px;
        text-transform: uppercase;
      }

      p {
        color: $base-font-color;
        line-height: $base-line-height;
        margin-bottom: 3em;
      }

      a.button {
        color: black;
        border: 1px solid black;
        background-color: white;
        border-radius: 0;
        font-weight: normal;
      }
    }

    @include reset-display();
  }

  
  .getinvolved {
    padding: 25px 25px;
    background-color: #fbfbfb;

    img {
      width: 22px;
      margin-right: 6px;
      position: relative;
      top: 4px;
    }

    h3 {
      font-size:19px !important;
    }

    .social-icon {
      width:20px;
    }

    .social-icon:hover {
      opacity:.8;
    }
  }

  #makeit-btn {
    font-size: 17px;
    font-weight: 300;
    line-height: 1;
    padding: 7px 10px;
    margin: 0 5px;
    margin-top:-2px;
  }

}
