// =======================================================
// navigation
@import "refills/navigation";
header.navigation {
  $navigation-height: 77px;
  $horizontal-bar-mode: 1032px;
  $navigation-submenu-width: 12em;
  $container: 90%;

  .navigation-wrapper {
    @include outer-container($container);
  }
  nav {
    min-height: 30px;
  }
  @include media($horizontal-bar-mode) {
    position: fixed;
    top: 0;
    nav {
      min-height: $navigation-height;
      float: right;
    }
  }

  a.logo {
    color: #333;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: $navigation-height;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0 1.5em;
    @include media($horizontal-bar-mode) {
      width: auto;
      margin: 0;
      padding: 0 2em 0 0;
    }
  }

  a.navigation-menu-button {
    line-height: normal;
    float: none;
    width: 100%;
    margin: auto;
    text-align: center;
  }

  ul li.nav-link {
    text-align: left;
    padding-left: 0.8em;
    @include media($horizontal-bar-mode) {
      padding-left: 0;
      text-align: right;
    }
  }

  li a {
    line-height: $navigation-height;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0 10px;
    color: #333 !important;
  }
  li.more {
    > a {
      &::after {
        font-size: 0.8em;
      }
    }
  }

  ul.submenu {
    left: 0;
    li {
      margin-bottom: -8px;
      @include media($horizontal-bar-mode) {
        line-height: $navigation-height / 1.6;
      }

      a {
        line-height: 40px;
        text-align: left;
        font-size: 12px;
        @include media($horizontal-bar-mode) {
          width: $navigation-submenu-width * 1.7;
        }
      }
    }
  }
}
.navbar-margin {
  $horizontal-bar-mode: 1032px;
  @include media($horizontal-bar-mode) {
    margin-bottom: 62px;
  }
}
