section {
  padding: 50px 20px 20px;
  @include media($large-screen) {
    padding: 60px 60px 30px 60px;
  }
  .centered {
    text-align: center;
  }
  a {
    color: $brand-blue;
    border-bottom: 1px solid #ddd;
    &:focus,
    &:hover {
      border-bottom: 0;
    }
  }
  iframe {
    margin-top: 1em;
    margin-bottom: 3em;
  }
  h1.page-title {
    font-size: 1.7em;
    color: $brand-dark-blue;
    text-align: center;
  }
  h1 {
    font-size: 1.4em;
  }
}

section.wisdom-today {
  background-image: url("../images/background-aet.jpg");
  background-size: none;
  background-repeat: no-repeat;
  @include media($large-screen) {
    background-size: cover;
    p {
      padding: 0 15%;
    }
  }
}

section.what-we-do {
  padding-top: 20px;
  h2.section-title {
    margin-bottom: 0;
  }
  ul.bullets {
    margin-top: 3em;
    @include media($large-screen) {
      margin-top: 0;
    }
  }
  a {
    border-bottom: 0;
  }
}

section.wisdom {
  padding: 0 0 0 0;
  @include media($large-screen) {
    .side-image {

    }
  }
}

section.location {
  text-align: center;
  h2 {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 300;
    a {}
  }
  img {
    @include media($large-screen) {
      margin: 1% 2%;
      @include size(42% 320px);
    }
  }
  iframe {
    @include size(100% calc(100vw - 100px));
    @include media($large-screen) {
      @include size(400px 400px);
    }
  }
}

section.other-pages {
  @include outer-container(90%);
  @import "refills/logos.scss";
  @include media($large-screen) {
    max-width: 768px;
  }
  padding-top: 3em;
  .news {
    .single-news {
      padding: 2em 2.5em 2em 2em;
      margin: 0 0 1em 0;
      border: 1px solid #e4e4e4;
    }
  }
  .post-single {
    max-width: 700px;
  }
  form > input, form > textarea {
    border-radius: 0;
  }

  h3 {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 20px 0;
    text-transform: none;
  }
  p {
    font-size: 20px;
    line-height: 1.625;
    margin: 0 0 20px 0;
    font-weight: 300;
  }
  p.date {
    font-family: $sans-serif;
    font-size: 0.75em;
    font-weight: 400;
    margin-bottom: 0.5em;
  }
}

section.who-we-are {
  padding-top: 9em;
  .img-circular-square {
    border-radius: 50%;
    padding: 0 30px;
  }
  p {
    max-width: 650px;
  }
}

section.about {
  @extend .who-we-are;
  .content-wrapper {
    max-width: 650px;
  }
  .page-header {
    p {
      text-align: center;
      font-size: 12px;
      span {
        font-family: $sans-serif;
        font-size: 12px;
        font-weight: 400;
        text-transform: none;
      }
    }
    p.date {
      margin-bottom: 3.5em;
    }
  }
  .avatar {
    background-color: #F5F5F5;
    border: none;
    border-radius: 50% 50% 50% 50%;
    padding: 0px;
    width:22px;
    float:none;
    margin-bottom: -6px;
    margin-right: 2px;
    margin-left: 10px;
  }
}

section.contact {
  text-align: center;
  @extend .who-we-are;
  h1 {
    margin-bottom: 0;
  }
  width: 100%;
  margin: auto;
  height: calc(100vh - 62px);
}

section.news {
  @extend .who-we-are;
  .content-wrapper {
    max-width: 60%;
  }
  .filter-input {
    padding-left: 40px;
    padding-right: 20px;
    input {
      border-radius: 0;
    }
  }
  button {
    margin: 0;
  }
  a.button {
    font-size: 12px;
  }
  a {
    font-weight: 500;
  }
  a.readmore {
    color: #0084c2;
  }
  p.date {
    font-family: $sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: -10px 0 24px 0;
  }
  p.date.status{
    span {
      padding-left: 10px;
    }
}
  img {
    width:140px;
    margin-right:20px;
    margin-top:20px;
    margin-bottom:20px;
    float:left
  }
  .avatar {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 50% 50% 50% 50%;
  padding: 0px;
  width:22px;
  float:none;
  margin-bottom: -6px;
  margin-right: 2px;
  }
  h2 {
    font-size: 28px;
    font-weight: 400;
  }
  ul {
    list-style-type: none;
  }

}
section.research {
  @extend .about;
  .content-wrapper {
    max-width: 750px;
  }
  p {
    max-width: 750px;
  }
  h2 {
    font-size: 1.4em;
  }
  h3 {
    font-size: 1.1em;
  }
}

section.about-special {
  @extend .who-we-are;
  .content-wrapper {
    max-width: 100%;
  }
}

section.research-special {
  @extend .about-special;
  a {
    color: $brand-blue;
  }
  table {
    font-size: 9px;
  }
  td,th {
    overflow-wrap: break-word;
  }
}
