// small bullets
.bullets-small {
  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $brand-blue !default;
  $icon-bullet-size: 5.5em;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: $base-line-height;
  overflow: auto;
  padding: 0;
  margin-top: 3em;

  .bullet-small {
    flex-basis: 20em;
    flex-grow: 1;
    @include media($large-screen) {
      max-width: 25%;
      padding: 0 2em;
    }
  }

  .bullet-icon-small {
    display: flex;
    background: white;
    margin-bottom: 2em;
    img {
      height: 15%;
      padding: 0;
      width: 15%;
    }
    a {
      text-decoration: none;
    }
    h2 {
      display: flex;
      width: 100%;
      font-size: $icon-bullet-size / 4.5;
      padding: 0;
      margin: 0 0 0 10%;
      color: $brand-blue;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  .bullet-image-small {
    @include size(100% 150px);
    overflow: hidden;
    border: 1px solid $dark-gray;
    margin-bottom: 1em;
  }

  .bullet-content-small {
    margin-bottom: 2em;
  }

  li {
    list-style: none;
  }

  p {
    line-height: $base-line-height;
  }

  img {
    max-width: 100%;
  }
}
