{{ partial "head.html" . }}

<body class="home-template">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TT56ST2"
              height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {{ partial "navbar.html" . }}

  <section class="post-pg std">
    <div class="content-wrapper">
        <h1 class="page-title">{{ .Title }}</h1>
        <p>{{ .Content | markdownify }}</p>
    </div>
  </section>

  {{ partial "footer.html" . }}

  {{ partial "script.html" . }}
</body>
</html>
