{{ partial "head.html" . }}
    <body>
        <div class="content-wrapper">
            <div class="content-wrapper__inner">
                <div>
                  {{ partial "navbar.html" . }}
                  <section class="other-pages">
                    <div class="page-header">
                      <h1>{{ .Title }}</h1>
                      <p class="date">
                        <i class="icon ion-calendar" aria-hidden="true"></i> {{ .Date.Format "2 January 2006" }}
                        {{if gt (len .Params.authors) 1 }}
                        <br />
                        {{ end }}
                        {{ range $index,$item := .Params.authors }}
                          
                          {{ $author := index $.Site.Params $item}}
                          {{if $author.path}}
                          <img src="{{ $.Site.BaseURL }}images/blog/{{$author.path}}" class="avatar" />
                          <span>{{ $author.fullname }}</span>
                          {{else}}
                          <img src="{{ $.Site.BaseURL }}images/blog/default-avatar.png" class="avatar" />
                            <span>{{ $author.fullname }}</span>
                          {{end}}
                        {{end}}
                      </p>
                    </div>
                    {{ .Content }}
                    {{ if eq .Params.news true }}
                    <article class="type-system-rounded">
                      <section class="news">
                        {{ range where .Site.Pages "Section" "post" }}
                        <div class="single-news">
                          <a href="{{ .Permalink }}"><h3>{{ .Title }}</h3></a>
                          <div class="news-body">
                            <div class="news-content">
                              <p class="date"><i class="icon ion-calendar"></i> {{ .Date.Format "2 January 2006" }}</p>
                              <p>{{ .Summary }}</p>
                            </div>
                          </div>
                        </div>
                        {{ end }}
                      </section>
                    </article>
                    {{ end }}
                    <p class="info">If you have questions, comments or feedback join our <a href="https://gitter.im/artearthtech/Lobby" target="_blank">chat channel</a> or follow us on social media 
                      <a target="_blank" href="{{ .Site.Params.facebook }}"> <i class="icon ion-social-facebook" ></i></a>
                      <a target="_blank" href="{{ .Site.Params.twitter }}"> <i class="icon ion-social-twitter"  ></i></a>
                      <a target="_blank" href="{{ .Site.Params.instagram }}"> <i class="icon ion-social-instagram"  ></i></a>
                    </p>
                  </section>
                </div>
            </div>
        </div>
        {{ partial "footer.html" . }}
    </body>
    {{ partial "script.html" .}}
</html>
