.about-pg {
    padding-top:100px !important;

    .sec-head {
        text-align:center;

        h2{
            margin-top:20px;
            margin-bottom:0;
            padding-bottom:0;
        }
    }

    @media screen and (max-width:768px){
        padding-top:40px !important;
    }
}

.about-rufus {

    padding-bottom:60px !important;

    h1 {
        text-align:center;
    }

    img {
        padding-right:30px;
        padding-top:10px;
        width:200px;

        @media screen and (max-width:480px){
            width:150px;
        }
    }
}