.logo-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  li {
    list-style: none;
    padding: 1.5em 0;
    @include media($large-screen) {
      padding: 2em;
      text-align: center;
      align-self: center;
    }
    .square-logo {
      max-height: 5em;
    }

    .wide-logo {
      max-width: 10em;
    }

    .wider-logo {
      max-width: 15em;
    }
  }
}
