<footer class="footer-2" role="contentinfo">
  <!-- <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="Logo image">
  </div> -->
  <ul>
    <li><a href="/">Home</a></li>
	<li><a href="/news/">News</a></li>
    <li><a href="/pay-what-feels-right/">Pay what feels right</a></li>
    <li><a href="/press/">Press</a></li>
    <li><a href="/events/">Events</a></li>
    <li><a href="/make-it-happen/">Get Involved</a></li>
	<li><a href="/faq/">FAQ</a></li>
    <li><a href="/contact/">Contact</a></li>
  </ul>

  <div class="footer-secondary-links">
    <ul>
      <li> Copyright © 2018</li>
    </ul>

    <ul class="footer-social">
      <li><a target="_blank" href="{{ .Site.Params.twitter }}"> <i class="icon ion-social-twitter" ></i></a></li>
      <li><a target="_blank" href="{{ .Site.Params.facebook }}"> <i class="icon ion-social-facebook" ></i></a></li>
    </ul>
  </div>
</footer>
