<!-- Modal -->
<div class="modal">
  
  <input class="modal-state" id="coming-soon-modal" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
     <div class="modal-close" for="modal-1"><img src="/img/close.png" width=14/></div>
      <h1>Comming Soon!</h1>
      <p class="modal-intro">The Open Revolution is set to Launch on 12 June, 2018.</p>
	  <p>Fill out the form and subscribe to the latest book news, also recieve the book on the day of launch!  </p>
      
	  <form action="https://datopian.us12.list-manage.com/subscribe/post?u=d7c1b37384908cd31dbe44d77&amp;id=9a64a02737" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" >
		<input class="form-control input-custom " type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Enter Your Email" required>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d7c1b37384908cd31dbe44d77_9a64a02737" tabindex="-1" value=""></div>

			<button type="submit" class="btn btn-custom btn-blue" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
			
	</form>  
    </div>
  </div>
</div>