<!-- Modal -->
<div class="modal">
  
  <input class="modal-state" id="coming-soon-modal" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
     <div class="modal-close" for="modal-1"><img src="/img/close.png" width=14/></div>
      <h1>Comming Soon!</h1>
      <p class="modal-intro">The Open Revolution is set to Launch on 12 June, 2018.</p>
	  <p>Fill out the form and subscribe to the latest book news, also recieve the book on the day of launch!  </p>
      
	  <form action="https://openrevolution.us12.list-manage.com/subscribe/post"  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" >
				
				<input type="hidden" name="u" value="f3b6955276a868159874a4e9a">
				<input type="hidden" name="id" value="20ff7a5204">

				<div id="mergeTable" class="mergeTable">
						<div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
								<label for="MERGE0">Email Address <span class="req asterisk">*</span></label>
								<div class="field-group">
										<input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="">
								</div>
						</div>
				</div>
				<div class="submit_container clear">
						<input type="submit" class="formEmailButton" name="submit" value="Subscribe">
				</div>
				<input type="hidden" name="ht" value="3d50da00aa4b8daecc171434e75c8325baa2106f:MTUyODEwMjI2NS43MjEx">
				<input type="hidden" name="mc_signupsource" value="hosted">
			</form>  

    </div>
  </div>
</div>