<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      OPEN REVOLUTION
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="icon ion-drag"></i>&nbsp;&nbsp;MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="{{ $.Site.BaseURL }}about">ABOUT</a></li>
        <li class="nav-link"><a href="{{ $.Site.BaseURL }}author">AUTHOR</a></li>
        <li class="nav-link"><a href="{{ $.Site.BaseURL }}contact">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>
