
<header class="navigation" role="banner">
  <div class="banner-top">
      Get updates about the movement - <a href="/newsletter">Sign up to the newsletter </a>
  </div>
  <div class="navigation-wrapper">
    <a href="/" class="logo">{{.Site.Title}}</a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="icon ion-drag"></i>&nbsp;&nbsp;MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/news/">News</a></li>
        <li class="nav-link"><a href="/pay-what-feels-right/">Pay what feels right</a></li>
        <li class="nav-link"> <a href="/press/">Press</a> </li>
        <li class="nav-link"><a href="/events/">Events</a></li>
        <li class="nav-link"><a href="/make-it-happen/">Get Involved</a></li>
        <li class="nav-link more" id="js-navigation-more">
          <a href="/faq/">FAQ</a>
          <ul class="submenu">
            <li><a href="/faq/">Main FAQ</a></li>
            <li><a href="/remuneration-rights/">Remuneration Rights</a></li>
            <li><a href="/preview/">An Open World - a Preview</a></li>
          </ul>
        </li>
        <li class="nav-link"><a href="/contact/">Contact</a></li>
        {{if eq .URL "/"}}
          <li class="nav-link"><a onclick="scrollDown()" href="#get-this-book" class="button btn-yellow">Get The Book Now</a></li>
        {{else}}
          <li class="nav-link"><a href="/#get-this-book" class="button btn-yellow">Get The Book Now</a></li>
        {{end}}

      </ul>
    </nav>
  </div>
</header>
<!--
<nav class="navbar nav-custom navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/"><img src="/img/logo.png" width=40/> The Open Revolution</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/donate">Donate</a>
        </li>
        <li>
            <a  class="btn btn-custom btn-blue">e-Book Coming Soon</a>
        </li>
      </ul>
    </div>
  </nav>
-->
