<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">{{.Site.Title}}</a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="icon ion-drag"></i>&nbsp;&nbsp;MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/">Home</a></li>
        <li class="nav-link"><a href="/about/">About</a></li>
        <li class="nav-link"><a href="/events/">Events</a></li>
        <li class="nav-link"><a href="/support/">Support</a></li>
        <li class="nav-link"><a href="/contact/">Contact</a></li>
        <li class="nav-link"><a href="/get-book/">Get the Book Now</a></li>
      </ul>
    </nav>
  </div>
</header>
<!--
<nav class="navbar nav-custom navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/"><img src="/img/logo.png" width=40/> The Open Revolution</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/donate">Donate</a>
        </li>
        <li>
            <a  class="btn btn-custom btn-blue">e-Book Coming Soon</a>
        </li>
      </ul>
    </div>
  </nav>
-->
