.event
{
    height:auto;
    border-bottom: 0px solid #ececec;
    /* banner */
    .banner{
        padding:100px 0px 100px 0px;


        .cover-img {
            width:80%;
            margin-bottom:30px;
        }

        .heading{
		padding-top:20px;
            font-size:70px;
            
        }
        .heading-main{
            margin:20px 0px 20px 0px;
            color:$blue;

        }
        h5 {
            margin:40px 0px 40px 0px;
            font-family: 'Lato', sans-serif !important;
            color:#696969;
        }

        h5 .fa {
            color:$red;
            margin-right:10px;
        }
        .date {
            margin:40px 0px 10px 0px;
        }
        .btn-blue{
            margin-right:10px;
        }
        .btn-orange{
            font-family: 'Lato', sans-serif;
            font-weight:700;
        }
        .quote{
            margin:80px 0px 80px 0px;
            span{
                color:$blue;
            }
        }

        
        @media screen and (max-width:480px){
            padding-top:50px;

            h5 {
                font-size:16px;
            }
        }
    }
}

