{{ partial "head.html" . }}

<body class="home-template">

  {{ partial "navbar.html" . }}

  <section class="hero">
    <div class="book">
      <h1>OPEN REVOLUTION</h1>
      <h2>"New rules for a new world"</h2>
    </div>
    <div class="main-content">
      <h1 class="book-title">OPEN REVOLUTION</h1>
      <h2 class="book-subtitle">"New rules for a new world"</h2>
      <a href="/data/book.pdf" class="button" target="_blank">DOWNLOAD BOOK</a>
    </div>
  </section>

  <section class="quotes">
    <div class="quote-wrapper">
      <p class="quote-text">
        "He who receives an idea from me receives instruction himself without lessening mine; as he who lights his taper at mine, receives light without darkening me."
      </p>
      <p class="quote-author">
        Thomas Jefferson to Isaac McPherson, 13 Aug 1813
      </p>
    </div>
    <div class="quote-wrapper">
      <p class="quote-text">
        "Monopolies are dangerous both to our economies and our societies. We need new rules for this new world. Rules appropriate to the information economy; that preserve fairness and freedom. Most of all, we need Open information."
      </p>
      <p class="quote-author">
        Dr Rufus Pollock
      </p>
    </div>
  </section>

  <section class="author">
    <div class="img-wrapper">
      <img src="{{ $.Site.BaseURL }}img/rufus.jpeg" class="img-circular-square" />
    </div>
  </section>

  {{ partial "footer.html" . }}

  {{ partial "script.html" . }}
</body>
</html>
