{{ partial "head.html" . }}

<body class="home-template">

  {{ partial "navbar.html" . }}

  <div class="newhero" style="background: #{{ .Params.backgroundcolor }}">
    <div class="hero-body">

      <div class="hero-content">
        <img src="img/open-revolution-cover.jpg" class="" alt="Open Revolution Cover"/>
      </div>

      <div class="intro">
        <h1>
          The Open Revolution
          <br />
          <small>Rewriting the rules of the information age</small>
        </h1>
        <p>Forget everything you think you know about the digital age. It’s not about privacy, surveillance, AI or blockchain&mdash;it’s about <strong>ownership</strong>. Because, in a digital age, who owns information controls the future.</p>
        <p>
        <p>In this urgent and provocative book, Rufus Pollock shows how today’s "Closed" digital economy is the source of problems ranging from growing inequality, to unaffordable medicines, to the power of a handful of tech monopolies to control how we think and vote. He proposes a solution that charts a path to a more equitable, innovative and profitable future for all.</p>
        <a class="button btn-yellow" onclick="scrollDown()" href="#get-this-book">Get the Book &raquo;</a>
        <p>
          <a target="_blank" href="{{ .Site.Params.twitter }}"> <i class="icon ion-social-twitter" ></i></a>
          <a target="_blank" href="{{ .Site.Params.facebook }}"> <i class="icon ion-social-facebook" ></i></a>
        </p>
      </div>
    </div>
  </div>


  <!-- Get this book -->
  <section class="std-wide get-this-book" id="get-this-book">
    <h1>Get The Open Revolution Book</h1>
    <h3>The book will be available in various formats for readers on 12 June, 2018</h3>

    <div class="grid-items-lines">
      <div href="javascript:void(0)" class="grid-item grid-item-medium">
        <img src="/img/pay.png" alt="" width=40>
        <h2>Purchase The Book</h2>
        <p>Buy the book on Amazon or purchase directly and help fund this work.</p>
        
		<br/>
        <ul>
          <li><a href="https://www.amazon.com/dp/B07DDDFCG6">Paperback (via Amazon)</a></li>
          <li><a href="https://www.amazon.com/dp/B07DDDFCG6">Kindle</a></li>
          <li><label for="coming-soon-modal">PDF & ePub - Buy directly</label></li>
        </ul>
        
      </div>
      <div class="grid-item grid-item-medium">
        <img src="/img/open-book.png" alt=""> 
        <h2>Open version - pay what feels right</h2>
        <p>In keeping with the philosophy of the book, The Open Revolution is available “openly” and you can download it directly.</p>
        <ul>
          <li><label href="#" for="coming-soon-modal">PDF</label></li>
          <li><label href="#" for="coming-soon-modal">EPUB</label></li>
        </ul>
      </div>
      
      <div class="right-cover"></div>
      <div class="bottom-cover"></div>
    </div>
  </section>

  <!---------------- testimonial  ---------------->
  <section class="testimonials std">
    <h1>What People are Saying</h1>
    <div class="comment">
      <div class="comment-image">
        <img src="img/geoff-mulgan.jpg">
      </div>
      <div class="comment-content">
        <h1>Geoff Mulgan</h1>
        <p>I hope this book will stimulate a much more imaginative, and balanced, debate about the many ways a knowledge based economy can be organised</p>
        <p class="comment-detail">CEO of NESTA, Former Director of the Prime Minister's Strategy Unit</p>
      </div>
    </div>

    <div class="comment">
      <div class="comment-image">
        <img src="img/cory-doctorow.jpg">
      </div>
      <div class="comment-content">
        <h1>Cory Doctorow</h1>
        <p>The richest, most powerful people in the world have bet everything on the control of information in all its guises; Pollock's fast-moving, accessible book explains why seizing the means of attention and information is the only path to human freedom and flourishing.</p>
        <p class="comment-detail">Journalist and Activist </p>
      </div>
    </div>
    <div class="comment">
      <div class="comment-image">
        <img  src="img/audrey-tang.jpg">
      </div>
      <div class="comment-content">
        <h1>Audrey Tang</h1>
        <p>This book’s practical insights are invaluable in guiding our “Open by Default” philosophy… beyond artificial scarcity and zero-sum games</p>
        <p class="comment-detail">Taiwan’s Digital Minister</p>
      </div>
    </div>
  </section>

  <section class="std">
    <h1>About the Author</h1>
    <p><strong>Dr Rufus Pollock</strong> is a researcher, technologist and entrepreneur. He has been a pioneer in the global Open Data movement, advising national governments, international organisations and industry on how to succeed in the digital world. He is the founder of Open Knowledge, a leading NGO which is present in over 35 countries, empowering people and organization with access information so that they can create insight and drive change. Formerly, he was the Mead Fellow in Economics at Emmanuel College, University of Cambridge. He has been the recipient of a $1m Shuttleworth Fellowship and is currently an Ashoka Fellow and Fellow of the RSA. He holds a PhD in Economics and a double first in Mathematics from the University of Cambridge.</p>
</section>
  <div class="video">
    <div class="video-wrapper">
      <iframe src="https://www.youtube.com/embed/15L7i0201ms?autoplay=0&showinfo=0&controls=1" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  
  <!------------- what is open revolution section ---------------->

  <section class="std">
    <h1>The Open Revolution Book</h1>
    <h3 class="tagline">An open world, a world in which information is openly and freely available to us all</h3>
    <p>Will the digital revolution give us digital dictatorships or digital democracies? Forget everything you think you know about the digital age. It’s not about privacy, surveillance, AI or blockchain&mdash;it's about ownership. Because, in a digital age, who owns information controls the future.</p>
    <p>Today, information is everywhere. From your DNA to the latest blockbusters, from lifesaving drugs to the app on your phone, from big data to algorithms. Our entire global economy is built on it and the rules around information affect us all every day.</p>
    <p>As information continues to move into the digital domain, it can be copied and distributed with ease, making access and control even more important. But the rules we have made for it, derived from how we manage physical property, are hopelessly maladapted to the digital world.</p>
    <p>In this urgent and provocative book, Rufus Pollock shows that we must make a choice between making information Open, shared by all, or making it Closed, exclusively owned and controlled, and how today’s Closed digital economy is the source of problems ranging from growing inequality, to unaffordable medicines, to the power of a handful of tech monopolies to control how we think and vote.</p>
    <p>Choosing Open is the path to a more equitable, innovative and profitable future for all.</p>
  </section>
  
  <section class="subscribe std">
    <h1>Subscribe to Newsletter</h1>
    <p>Subscribe to our newsletter to receive news about the Open Revolution each month and stay up to date with the movement.</p>

<form action="https://openrevolution.us12.list-manage.com/subscribe/post"  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" >
				
  <input type="hidden" name="u" value="f3b6955276a868159874a4e9a">
  <input type="hidden" name="id" value="20ff7a5204">

  <div id="mergeTable" class="mergeTable">
      <div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
          <label for="MERGE0">Email Address <span class="req asterisk">*</span></label>
          <div class="field-group">
              <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="">
          </div>
      </div>
  </div>
  <div class="submit_container clear">
      <input type="submit" class="formEmailButton" name="submit" value="Subscribe">
  </div>
  <input type="hidden" name="ht" value="3d50da00aa4b8daecc171434e75c8325baa2106f:MTUyODEwMjI2NS43MjEx">
  <input type="hidden" name="mc_signupsource" value="hosted">
</form>  

  </section>
 

  {{ partial "footer.html" . }}
   
  {{ partial "modals.html" . }}
  
  {{ partial "script.html" . }}

</body>
</html>
