{{ partial "head.html" . }}

<body class="home-template">

  {{ partial "navbar.html" . }}

  <div class="newhero" style="background: #{{ .Params.backgroundcolor }}">
    <div class="hero-body">

      <div class="hero-content">
        <img src="img/open-revolution-cover.jpg" class="" alt="Open Revolution Cover"/>
      </div>

      <div class="intro">
        <h1>The Open Revolution</h1>
        <p>Forget everything you think you know about the digital age. The simple truth is that it’s not about privacy, AI or blockchain&ndash;it’s about the rules of ownership. And hope lies in the fact that we can change them in a radically better way.</p>
        <p>Today who owns information has power; and when owned by the few and their global monopolies it generates political instability and threatens our freedom.</p>
        <p>The Open Revolution offers a vision where digital information is owned not by the few but is open to all. Choosing Open is a chance to transform our economies and societies, to use the extraordinary potential of digital abundance to build a better, more equal, and freer world.</p>
        <a class="button" onclick="scrollDown()" href="#next-section">About</a>
        <p>
          <a target="_blank" href="{{ .Site.Params.twitter }}"> <i class="icon ion-social-twitter" ></i></a>
          <a target="_blank" href="{{ .Site.Params.facebook }}"> <i class="icon ion-social-facebook" ></i></a>
        </p>
      </div>
    </div>
  </div>


  <!-- Get this book -->
  <section class="std-wide get-this-book" id="get-this-book">
    <h1>Get This Book</h1>
    <h3>The book will be available in various formats for readers on 12 June, 2018</h3>

    <div class="grid-items-lines">
      <div href="javascript:void(0)" class="grid-item grid-item-medium">
        <!-- <img src="/img/amazon.png" alt=""> -->
        <h2>Purchase The Book</h2>
        <p>The Open Revolution Book will be soon available to be ordered in various formats. Buy the book on Amazon or purchase directly and help fund this work.</p>
        
        <ul>
          <li><a href="https://www.amazon.com/dp/B07DDDFCG6">Paperback & Kindle</a></li>
          <li><a href="#">PDF & ePub - Buy directly</a></li>
        </ul>
        
      </div>
      <div href="javascript:void(0)" class="grid-item grid-item-medium">
        <!-- <img src="/img/open-book.png" alt=""> -->
        <h2>Open version - pay what feels right</h2>
        <p>In keeping with the philosophy of the book The Open Revolution is available “openly” and you can download it directly in PDF or ePUB.</p>
        <ul>
          <li><a href="#">PDF - Coming Soon</a></li>
          <li><a href="#">ePUB - Coming Soon</a></li>
        </ul>
      </div>
      
      <div class="right-cover"></div>
      <div class="bottom-cover"></div>
    </div>

    </section>
    
  <section id="next-section">
    <div class="video">
      <div class="video-wrapper">
        <iframe src="https://www.youtube.com/embed/15L7i0201ms?autoplay=0&showinfo=0&controls=1" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="video-text">
        <p><strong>Rufus Pollock</strong> is an entrepreneur, researcher and technologist working to create an open information age. Founder and President of Open Knowledge, a leading international non-profit that empowers people and organizations with access to information and the tools and skills to make sense of it. A recognized global expert on open data and open knowledge. He has worked with multiple governments, IGOs such as the World Bank and the UN, businesses and CSOs.</p>
      </div>
    </div>
  </section>
  
  <!--
  <section class="hero section-grey">

      <div class="container">
      
      <div class="banner">
        
          <div class="row">
            <div class="col-sm-4 offset-sm-1 text-center">
              <img src="img/open-revolution-cover.jpg" class="img-fluid cover-img" alt="Open Revolution Cover"/>
            </div>
            <div class="col-sm-6">
              <h1 class="heading">THE OPEN<br> REVOLUTION</h1>
              <p>- By Rufus Pollock</p>
              <p>The Open Revolution is a vision where digital information is owned not by the few but by everyone and where creators are recognized and rewarded. <br/><br/>
Choosing Open is a chance to transform our economies and societies, to create a future beyond the tired “isms” of capitalism and socialism, to build a better, more equal, and freer world.

              </p> 
              <a class="btn btn-custom btn-blue">Coming Soon</a>
              <a href="/donate" class="btn btn-custom btn-orange donatefunds">Donate Funds <i class="fa fa-caret-right"></i> </i></a>  
            </div>
          </div>
        </div>
      </div>
  </section>
  
  <div class="container text-center">
      <a class="amazonbtn">Coming Soon on Amazon</a>
  </div>
  -->

  <!------------- what is open revolution section ---------------->

  <section class="std">
    <h1>The Open Revolution Book</h1>
    <h3 class="tagline">An open world, a world in which information is openly and freely available to us all</h3>
    <p>Forget everything you think you know about the digital age. The simple truth is that it’s not about privacy, AI or blockchain—it’s about the rules of ownership. And hope lies in the fact that we can change them in a radically better way. 
    
        Will the digital revolution give us information democracies or information empires? The answer lies not in technology but in a political choice: a choice between making information Open, shared by all, or, making it Closed, exclusively owned and controlled.
    </p>
    <p>    
      Today who owns information has power; when owned by a few individuals and their global monopolies it generates political instability and a threat to freedom, but Open would allow abundance for all.
    </p>
    <a href="/about">READ MORE</a>
  </section>
  
 <!---------------- about rufus pollock ---------------->

 <!--
 <section class="about-rufus section-pad section-grey">
   <div class="container">
     <div class="row">
       <div class="col-sm-12">
          <div class="text-center">
              <h2 class="heading-main">About<br>Rufus Pollock</h2>
              <p class="heading-intro">Rufus Pollock is an entrepreneur, researcher and technologist working<br> 
                  to make a digital information economy that works for everyone.</p>
          </div>
       </div>
     </div>
     <div class="content">
        <div class="row">
            <div class="col-md-5 offset-md-1">
              <img src="img/rufus.jpg" class="img-fluid float-right"/>
            </div>
            <div class="col-md-5">
              <div class="description">
                <h5>BACKGROUND</h5>
                <p>Founder and President of Open Knowledge. He has advised national governments, IGOs, companies and NGOs on how to succeed in the digital world.</p>
              </div>
              <div class="description">
                <h5>EDUCATION</h5>
                <p>He holds a double first in Mathematics and a PhD in Economics <br> from the University of Cambridge.</p>
              </div>
              <div class="description">
                <h5>ACCOMPLISHMENTS</h5>
                <p>He is an Ashoka Fellow, a Fellow of the RSA, a recipient of a three year $1m Shuttleworth Foundation Fellowship as well as the Mead Fellowship in Economics at Emmanuel College, University of Cambridge.</p>
              </div>
              <a href="https://twitter.com/rufuspollock"><i class="fa fa-twitter"></i></a>
              <a href="http://rufuspollock.com"><i class="fa fa-globe"></i></a>
            </div>
       </div>
     </div>
     
   </div>
 </section>
 -->


 <!---------------- pay-for-hardcopy ---------------->

 <!--
 <section class="pay-for-hardcopy section-pad ">
   <div class="container">
     
     <div class="content">
       <div class="row">
         <div class="col-sm-6">
            <h2 class="heading-main">Buy a hard copy</h2>
            <p>The Open Revolution is available for reading in various formats. The e-book version is always free to download and read. In case you're looking for an immersive reading experience, The Open Revolution Book will be soon available to be ordered as a hard copy on amazon. Click on the given link to know about hard copy of The Open Revolution.

            </p> 
            <p>
                You can also request the printed version of the book by reaching us out through the contact form. Our team will reach you out promptly to address your request regarding hard copy of the book.
</p>
          </div>
         <div class="col-sm-6">
            <br/> 
          <a target="_blank" >
            
            <img src="img/amazonbtn_comingsoon.png" class="mx-auto d-block"/>
            </a>
         </div>
       </div>
     </div>
   </div>
 </section>
 -->


 <!---------------- pay-as-youwish ---------------->

 <!--
 <section class="pay-as-youwish">
    <div class="container">
 
      <div class="content">
        <div class="row">
          <div class="col-md-6">
             <img src="img/payment-method.png" class="mx-auto d-block"/>
          </div>
          <div class="col-md-6">
              <h2 class="heading-main">Donate as you wish</h2>
              <p>We encourage you to donate to support us spreading the idea of The Open Revolution, since the book is available to download for free, your contribution is what would help us spread the vision.

              </p> <p>
                 Add your contribution to the The Open Revolution by Donating an amount by clicking the button below. We do not have a fixed donation amount and expect you to give a donation as per your wish. All the transactions are processed by Donorbox and are 100% secure.
</p>
              
              <a href="/donate" class="btn btn-custom btn-orange">DONATE </a>
            </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="download-for-free"> 
	<div class="container">
		<div class="row">
			  <div class="col-sm-6">
				  <h2 class="heading-main">Download for free</h2>
            <p >The Open Revolution believes in spreading the idea of an Open world, therefore the book is 100% free to download. If you would like a digital copy, just enter your email and you will be ready to go. </p>
             <p> After reading the book, if you believe in the cause, we would appreciate a donation to help us support creating an Open world where information is owned not by the few but by everyone and where creators are recognized and rewarded. 
</p>	
            <br/>
				</div>
				<div class="col-sm-6">
				 <form action="https://datopian.us12.list-manage.com/subscribe/post?u=d7c1b37384908cd31dbe44d77&amp;id=9a64a02737" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" >
					<div class="row">
						<div class="col-sm-9">
							<div class="form-group">
								<input class="form-control input-custom " type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Enter Your Email" required>
							</div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>
							<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d7c1b37384908cd31dbe44d77_9a64a02737" tabindex="-1" value=""></div>

						</div>
						<div class="col-sm-2">
							<button type="submit" class="btn btn-custom btn-blue" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
						</div>
					</div>
				</form>  

			 </div>
        </div>
	</div>
  </section>
  -->

   

   <!---------------- testimonial  ---------------->
   <section class="testimonials std">
      <h1>Quotes about The Open Revolution</h1>
      <h3>Following are the thoughts of people for The Open Revolution</h3>
      
      <div class="comment">
        <div class="comment-image">
            <img  src="img/audrey-tang.jpg">
        </div>
        <div class="comment-content">
          <h1>Audrey Tang</h1>
          <p>This book’s practical insights are invaluable in guiding our “Open by Default” philosophy… beyond artificial scarcity and zero-sum games</p>
          <p class="comment-detail">Taiwan’s Digital Minister</p>
        </div>
      </div>
      
      <div class="comment">
        <div class="comment-image">
            <img  src="img/geoff-mulgan.jpg">
        </div>
        <div class="comment-content">
          <h1>Geoff Mulgan</h1>
          <p>I hope this book will stimulate a much more imaginative, and balanced, debate about the many ways a knowledge based economy can be organised</p>
          <p class="comment-detail">CEO of NESTA, Former Director of the Prime Minister's Strategy Unit</p>
        </div>
      </div>
    
      <div class="comment">
        <div class="comment-image">
            <img  src="img/cory-doctorow.jpg">
        </div>
        <div class="comment-content">
          <h1>Cory Doctorow</h1>
          <p>The richest, most powerful people in the world have bet everything on the control of information in all its guises; Pollock's fast-moving, accessible book explains why seizing the means of attention and information is the only path to human freedom and flourishing.</p>
          <p class="comment-detail">Journalist and Activist </p>
        </div>
      </div>
        

	</div>
	</div>
</section>
  <!---------------- contact us ---------------->

  <section class="std contact" id="contact">
        <h1>Contact Us</h1>
        <h3>Feel free to ask any question about Open Revolution or Remuneration Rights and ask for a hard copies of Open Revolution Book!</h3>

        <form method="post" action="https://formspree.io/hello@openrevolution.net">
    
            <input name="name" id="name" type="text" class="form-control input-custom" placeholder="Your name...">
            <input type="hidden" name="_replyto" placeholder="Your email" />
        
            <input name="email" id="email" type="email" class="form-control input-custom" placeholder="Your email...">
        
            <textarea name="message"  rows="7" class="form-control input-custom" placeholder="Your message..."></textarea>
          
          <button type="submit">SEND MESSAGE</button>
        </form>  
  </section>


  <section class="subscribe std">
              <h1>Subscribe and Download</h1>
			        <p>Subscribe to our newsletter to receive news about the Open Revolution Movement each month and stay engage with the cause. <br/>
Also get a download link to Open Revolution book by submitting your email
</p>
         

         <form action="https://datopian.us12.list-manage.com/subscribe/post?u=d7c1b37384908cd31dbe44d77&amp;id=9a64a02737" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" >
            <input class="form-control input-custom " type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Enter Your Email" required>
            
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d7c1b37384908cd31dbe44d77_9a64a02737" tabindex="-1" value=""></div>
            <button type="submit"  name="subscribe" id="mc-embedded-subscribe">SUBSCRIBE</button>
         </form>  

  </section>
 
  {{ partial "footer.html" . }}

  {{ partial "script.html" . }}

</body>
</html>
