{{ partial "head.html" . }}

<body class="home-template section-grey">

  {{ partial "navbar.html" . }}
  
    <section class="donate">
      <div class="content">
        <h1>Pay What Feels Right</h1>
        <p>
        In keeping with the book's vision of an Open world, I have chosen to make <em>The Open Revolution</em> openly and freely available to read and share.</p>
        <p>At the same time, we still live in a Closed world and Remuneration Rights don't exist (yet). Being Open in a Closed world is not easy to sustain. Thus, I invite you to make a financial contribution in recognition of the value you got from the book and to help us to increase our efforts to share a vision of an Open world.</p>
        <p><em>Thank-you &mdash; Rufus</em></p>
      </div>

      <div class="donorbox">
          <iframe class="donate-popup" src="https://donorbox.org/embed/open-revolution-pay" height="685px" width="100%"
          style="max-width:500px; min-width:310px; max-height:none!important" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
      </div>  
    </section>

   {{ partial "footer.html" . }}
  

  {{ partial "script.html" . }}
</body>
</html>
