.logo-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  li {
    align-self: center;
    list-style: none;
    padding: 2em;
    text-align: center;

    .square-logo {
      max-height: 6em;
    }

    .wide-logo {
      max-width: 6em;
    }

    .wider-logo {
      max-width: 9em;
    }
  }
}
