{{ partial "head.html" . }}

<body class="home-template">
    {{ partial "navbar.html" . }}

  <section class="about-pg std">
    
          <div class="sec-head">
            <img src="../img/open-revolution-cover.jpg" width=200 alt="Open Revolution Cover"/>
            
            <h2>ABOUT</h2>
            <h1>THE OPEN REVOLUTION</h1>
          </div>
				  
                  <p>
                    Forget everything you think you know about the digital age. The simple truth is that it’s not about privacy, AI or blockchain—it’s about the rules of ownership. And hope lies in the fact that we can change them in a radically better way. 

                    Will the digital revolution give us information democracies or information empires? The answer lies not in technology but in a political choice: a choice between making information Open, shared by all, or, making it Closed, exclusively owned and controlled.
                  </p>
                  
                  <p>Today who owns information has power; when owned by a few individuals and their global monopolies it generates political instability and a threat to freedom, but Open would allow abundance for all.
                       We don’t have to choose between capitalism or socialism, we can have both, it’s all about how we set the rules of ownership of the digital game.</p>
                  <p>
                    Forget everything you think you know about the digital age. The simple truth is that it’s not about privacy, AI or blockchain—it’s about the rules. And hope lies in the fact that we can change them in a radically better way. 
                  </p>
                  <p>
                    Will the digital revolution give us information democracies or information empires? The answer lies not in technology but in a political choice: a choice between making information Open, freely accessible to all, or, making it Closed, exclusively owned and controlled. Today who owns information has power; when owned by a few individuals and their global monopolies it generates political instability and a threat to freedom, but OPEN would allow abundance for all.
                  </p>

                  <p>
                    We don’t have to choose between growth or justice, we can have both, it’s all about how we set the rules of the digital game.
                  </p>
                  <br/><br/>
                  <!-- <h1 class="quote text-center"><span>"</span>The Only Important Thing in a book <br>is the meaning that it has for you<span>"</span></h1> -->
                
      </section>

  <!---------------- about rufus pollock ---------------->

 <section class="about-rufus std">
  
             <h1>About Rufus Pollock</h1>
             
             <img src="../img/rufus.jpg" align="left"/>
          
            <p class="heading-intro text-center">Rufus Pollock is an entrepreneur, economist and technologist who has dedicated his life to create a digital economy which is both fair and innovative.</p>
        
               <p>He is the Founder and President of Open Knowledge, a leading NGO which is present is over 35 countries, empowering people and organization to access information so that they can create insight and drive change. </p>
			    <p>Rufus Pollock has been a pioneer in the global Open Data movement, he has advised national governments, Intergovernmental Organizations, companies and NGOs on how to succeed in the digital world.  </p>
				 <p>He holds PhD in Economics and a double first in Mathematics from the University of Cambridge. Multiple organisations such as Ashoka,  RSA and Shuttleworth have awarded him fellowship for his work including the Mead Fellowship in Economics at Emmanuel College, University of Cambridge. 
</p><p>He is the author of The Value of the Public Domain published by IPPR (the Institute for Public Policy Research) and the lead economist on the “Economic and Social Impact of the Public Domain” funded by the European Commission.

</p><p>In this book Rufus Pollock share his vision about the path to building an Open World where creators are rewarded and information Open to all. 

</p>
             
             <strong>More About Rufus Pollock: &nbsp;</strong>
             <a target="_blank" href="{{ .Site.Params.twitter }}"> <i class="icon ion-social-twitter" ></i></a>&nbsp;
             <a target="_blank" href="{{ .Site.Params.facebook }}"> <i class="icon ion-social-facebook" ></i></a>
           
</section>
 

   <!---- <section class="about text-center">
      <div class="content-wrapper">
        <h1 class="page-title">{{ .Title }}</h1>
		
        {{ .Content }}
      </div>--->
    </section>
  </div>


  <div class="container">
    <div class="row">

      <div class="col-sm-12">
          {{ partial "footer.html" . }}
      </div>
    </div>
  </div>
  

  {{ partial "script.html" . }}
</body>
</html>
