{{ partial "head.html" . }}

<body class="home-template">

  <section class="about section-grey">
    
          <div class="container">
              {{ partial "navbar.html" . }}
          
          
          <div class="banner">
            
              <div class="row">
                <div class="col-sm-4 offset-sm-1">
                  <img src="../img/open-revolution-cover.jpg" class="img-fluid cover-img" alt="Open Revolution Cover"/>
                </div>
                <div class="col-sm-6">
                  <h1 class="heading">ABOUT</h1>
                  <h2 class="heading-main">THE OPEN REVOLUTION</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iusto, optio pariatur obcaecati maxime possimus dolorum cum. Illum pariatur sunt numquam, voluptatum, odit dicta, porro enim, aspernatur molestias iure nemo!
                    
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iusto, optio pariatur obcaecati maxime possimus dolorum cum.
                  </p> 
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iusto, optio pariatur obcaecati maxime possimus dolorum cum. Illum pariatur sunt numquam, voluptatum, odit dicta, porro enim, aspernatur molestias iure nemo!
                    
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iusto, optio pariatur obcaecati maxime possimus dolorum cum.
                  </p>
                  
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-12">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iusto, optio pariatur obcaecati maxime possimus dolorum cum. Illum pariatur sunt numquam, voluptatum, odit dicta, porro enim, aspernatur molestias iure nemo!
                    
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iusto, optio pariatur obcaecati maxime possimus dolorum cum.
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iusto, optio pariatur obcaecati maxime possimus dolorum cum. Illum pariatur sunt numquam, voluptatum, odit dicta, porro enim, aspernatur molestias iure nemo!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iusto, optio pariatur obcaecati maxime possimus dolorum cum. Illum pariatur sunt numquam, voluptatum, odit dicta, porro enim, aspernatur molestias iure nemo!
                    
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iusto, optio pariatur obcaecati maxime possimus dolorum cum.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iusto, optio pariatur obcaecati maxime possimus dolorum cum.
                  </p>

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iusto, optio pariatur obcaecati maxime possimus dolorum cum. Illum pariatur sunt numquam, voluptatum, odit dicta, porro enim, aspernatur molestias iure nemo!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iusto, optio pariatur obcaecati maxime possimus dolorum cum. Illum pariatur sunt numquam, voluptatum, odit dicta, porro enim, aspernatur molestias iure nemo!
                    
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iusto, optio pariatur obcaecati maxime possimus dolorum cum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iusto, optio pariatur obcaecati maxime possimus dolorum cum. Illum pariatur sunt numquam, voluptatum, odit dicta, porro enim, aspernatur molestias iure nemo!
                    
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iusto, optio pariatur obcaecati maxime possimus dolorum cum.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iusto, optio pariatur obcaecati maxime possimus dolorum cum.
                  </p>

                  <h1 class="quote text-center"><span>"</span>The Ony Important Thing in a book <br>is the meaning that it has for you<span>"</span></h1>
                </div>
              </div>
            </div>
          </div>
      </section>


  <!---------------- about rufus pollock ---------------->

 <section class="about-rufus about-page section-pad">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
         <div class="text-center">
             <h2 class="heading-main">About<br>Dr. Rufus Pollock</h2>
             
         </div>
      </div>
    </div>
    <div class="content">
       <div class="row">
           <div class="col-md-12">
             <img src="../img/rufus.jpg" class="img-fluid mx-auto d-block"/>
           </div>
           <div class="col-md-12">
            <p class="heading-intro text-center">Dr Rufus Pollock is an entrepreneur, researcher and technologist working<br> 
              to make a digital information economy that works for everyone. </p>
           </div>
           <div class="col-md-8 offset-md-2">
             <div class="description">
               <h5>BACKGROUND</h5>
               <p>Founder and President of Open Knowledge. He has advised national governments, IGOs, companies and NGOs on how to succeed in the digital world. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iusto, optio pariatur obcaecati maxime possimus dolorum cum. Illum pariatur sunt numquam, voluptatum, odit dicta, porro enim, aspernatur molestias iure nemo!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iusto, optio pariatur obcaecati maxime possimus dolorum cum. Illum pariatur sunt numquam, voluptatum, odit dicta, porro enim, aspernatur molestias iure nemo!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
             </div>
             <div class="description">
               <h5>EDUCATION</h5>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iusto, optio pariatur obcaecati maxime possimus dolorum cum. Illum pariatur sunt numquam, voluptatum, odit dicta, porro enim, aspernatur molestias iure nemo!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iusto, optio pariatur obcaecati maxime possimus dolorum cum. Illum pariatur sunt numquam, voluptatum, odit dicta, porro enim, aspernatur molestias iure nemo!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. He holds a double first in Mathematics and a PhD in Economics <br> from the University of Cambridge.</p>
             </div>
             <div class="description">
               <h5>ACCOMPLISHMENTS</h5>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iusto, optio pariatur obcaecati maxime possimus dolorum cum. Illum pariatur sunt numquam, voluptatum, odit dicta, porro enim, aspernatur molestias iure nemo!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iusto, optio pariatur obcaecati maxime possimus dolorum cum. Illum pariatur sunt numquam, voluptatum, odit dicta, porro enim, aspernatur molestias iure nemo!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. He is an Ashoka Fellow, a Fellow of the RSA, a recipient of a three year $1m Shuttleworth Foundation Fellowship as well as the Mead Fellowship in Economics at Emmanuel College, University of Cambridge.</p>
             </div>
             <strong>More About Rufus Pollock:</strong>
             <a href="#"><i class="fa fa-twitter"></i></a>
             <a href="#"><i class="fa fa-globe"></i></a>
           </div>
      </div>
    </div>
    
  </div>
</section>
 

   <!---- <section class="about text-center">
      <div class="content-wrapper">
        <h1 class="page-title">{{ .Title }}</h1>
		
        {{ .Content }}
      </div>--->
    </section>
  </div>


  <div class="container">
    <div class="row">

      <div class="col-sm-12">
          {{ partial "footer.html" . }}
      </div>
    </div>
  </div>
  

  {{ partial "script.html" . }}
</body>
</html>
