{{ partial "head.html" . }}

<body class="home-template  section-grey">

    <section class="donate">
        
              <div class="container">
                  {{ partial "navbar.html" . }}
              
              
              <div class="banner">
                
                  <div class="row">
                    
                    <div class="col-sm-6">
                      <br/><br/>
                      <h2 class="heading-main">Pay As You Wish</h2>
                      <h1 class="heading">DONATE FUNDS</h1>
                      <p>
                          The Open Revolution believes in spreading the idea for an open world for free. Being 100% free to download, we encourage you to donate an amount as per your wish to support the idea of The Open Revolution.
                      </p> <p>
                          Add your contribution to The Open Revolution by Donating an amount by clicking the button below. We do not have a fixed donation amount and expect you to give a donation as per your wish. All the transactions are processed by Donorbox and are 100% secure.
                      </p>
                    </div>
                    <div class="col-sm-5 offset-sm-1">
                        <br/><br/>
                        <iframe class="donate-popup" src="https://donorbox.org/embed/open-revolution-pay" height="685px" width="100%"
                        style="max-width:500px; min-width:310px; max-height:none!important" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
                    </div>
                  </div>
                </div>
              </div>
          </section>

   <!---- <section class="about text-center">
      <div class="content-wrapper">
        <h1 class="page-title">{{ .Title }}</h1>
		
        {{ .Content }}
      </div>--->
    </section>
  </div>

 

  <div class="container">
    <div class="row">

      <div class="col-sm-12">
          {{ partial "footer.html" . }}
      </div>
    </div>
  </div>
  

  {{ partial "script.html" . }}
</body>
</html>
