{{ partial "head.html" . }}

<body class="home-template bg-grey">

    {{ partial "navbar.html" . }}

    <section class="event std">

        <h2>THE OPEN REVOLUTION</h2>
        <h1>BOOK LAUNCH EVENT</h1>
        <h5><i class="fa fa-map-marker"></i> Newspeak House, 133 Bethnal Green Rd, London</h5>
        <h5><i class="fa fa-calendar"></i> 12th June 2018, 6:30 PM - 8:30 PM (BST)</h5>
        <a href="https://attending.io/events/open-revolution-book-launch"><button>More Info &amp; and RSVP</button></a>
     </section>

   <!---- <section class="about text-center">
      <div class="content-wrapper">
        <h1 class="page-title">{{ .Title }}</h1>
		
        {{ .Content }}
      </div>--->
    </section>
  </div>

 

  <div class="container">
    <div class="row">

      <div class="col-sm-12">
          {{ partial "footer.html" . }}
      </div>
    </div>
  </div>
  

  {{ partial "script.html" . }}
</body>
</html>
