{{ partial "head.html" . }}

<body class="home-template">

  <div class="container">
    {{ partial "navbar.html" . }}
 

   <!---- <section class="about text-center">
      <div class="content-wrapper">
        <h1 class="page-title">{{ .Title }}</h1>
		
        {{ .Content }}
      </div>--->
    </section>
  </div>

 <!---------------- About ---------------->

 <section class="pay-for-hardcopy author-details section-pad ">
   <div class="container">
     
     <div class="content">
       <div class="row">
	   <div class="col-sm-4">
           <a href="http://www.amazon.com" target="_blank" >
            <img src="../img/open-revolution-cover.jpg" class="mx-auto d-block"/>
            </a>
         </div>
         <div class="col-sm-8">
            <h2 class="heading-main">About</h2>
            <p>Open Revolution is available for reading in various formats. The e-book version is always free to download and read. In case you're looking for an immersive reading experience, Open Revolution is also available to be ordered as a hard copy. Click on the below given link to know about hard copy of Open Revolution. Open Revolution is available for reading in various formats. The e-book version is always free to download and read. In case you're looking for an immersive reading experience, Open Revolution is also available to be ordered as a hard copy. Click on the below given link to know about hard copy of Open Revolution.</p>
            <p>You can also request the printed version of the book by reaching us out through the contact form. Our team will reach you out promptly to address your request regarding hard copy of the book  Open Revolution is available for reading in various formats. The e-book version is always free to download and read. In case you're looking for an immersive reading experience, Open Revolution is also available to be ordered as a hard copy. Click on the below given link to know about hard copy of Open Revolution.</p>
         
		 </div>
        <div class="col-sm-12 mx-auto">
          
            <p >Open Revolution is available for reading in various formats. The e-book version is always free to download and read. In case you're looking for an immersive reading experience, Open Revolution is also available to be ordered as a hard copy. Click on the below given link to know about hard copy of Open Revolution. Open Revolution is available for reading in various formats. The e-book version is always free to download and read. In case you're looking for an immersive reading experience, Open Revolution is also available to be ordered as a hard copy. Click on the below given link to know about hard copy of Open Revolution.</p>
            
		 </div>
       </div>
     </div>
   </div>
 </section>
 <!---------------- About Author ---------------->

 <section class="pay-for-hardcopy author-details section-grey section-pad">
   <div class="container">
     
     <div class="content">
       <div class="row">
	   <div class="col-sm-4">
           <a href="http://www.amazon.com" target="_blank" >
            <img src="../img/rufus.jpeg" class="mx-auto d-block"/>
            </a>
         </div>
         <div class="col-sm-8">
            <h2 class="heading-main">Author</h2>
            <p>Open Revolution is available for reading in various formats. The e-book version is always free to download and read. In case you're looking for an immersive reading experience, Open Revolution is also available to be ordered as a hard copy. Click on the below given link to know about hard copy of Open Revolution.</p>
            <p>You can also request the printed version of the book by reaching us out through the contact form. Our team will reach you out promptly to address your request regarding hard copy of the book.</p>
          <p>You can also request the printed version of the book by reaching us out through the contact form. Our team will reach you out promptly to address your request regarding hard copy of the book.</p>
		</div>
         
       </div>
     </div>
   </div>
 </section>


  <div class="container">
    <div class="row">

      <div class="col-sm-12">
          {{ partial "footer.html" . }}
      </div>
    </div>
  </div>
  

  {{ partial "script.html" . }}
</body>
</html>
