{{ partial "head.html" . }}

<body class="home-template faq">
  {{ partial "navbar.html" . }}

  <section class="std">
    <div class="content-wrapper">
      <h1 class="page-title">{{ .Title }}</h1>
      <!-- <h1>OUR MOST FREQUENTLY ASKED QUESTIONS</h1>
      {{ .Content }} 

      <br />-->
      <h1>OUR MOST FREQUENTLY ASKED QUESTIONS</h1>
      <div class="faq-summary">
        {{ range sort .Data.Pages ".Weight" }}
          <div class="faq-summary-item">
            <a href="#{{ .Source.BaseFileName }}" id="ref-{{ .Source.BaseFileName }}"><h2>{{ .Weight }}. {{ .Title }}</h2></a>
            {{ if gt (len .Summary) 150 }}
              {{ slicestr .Summary 0 150 }}...
            {{ else }}
              {{ .Summary }}...
            {{ end }}
            <a class= "readmore" href="#{{ .Source.BaseFileName }}">read more <span>&rsaquo;</span></a>
          </div>
        {{ end }}
      </div>
      <br /><br /><br />
      <h1>FULL ANSWERS</h1>
      {{ range .Data.Pages }}
        <div class="faq-content" id="{{ .Source.BaseFileName }}">
          <h1>{{ .Weight }}. {{ .Title }}</h1>
          <p>
            <a href="#ref-{{ .Source.BaseFileName }}" class="return-link">back to the question</a>
          </p>
          {{ .Content }}
        </div>
      {{ end }}

    </div>
  </section>
</body>
