{{ partial "head.html" . }}

<body class="home-template">

  <div class="container">
    {{ partial "navbar.html" . }}
 

    <section class="about">
      <div class="content-wrapper">
        <h1 class="page-title">{{ .Title }}</h1>
        {{ .Content }}
      </div>
    </section>

  </div>

  <div class="container">
    <div class="row">

      <div class="col-sm-12">
          {{ partial "footer.html" . }}
      </div>
    </div>
  </div>
  

  {{ partial "script.html" . }}
</body>
</html>
